@import "skeleton/base.css";
@import "skeleton/layout.css";
@import "skeleton/skeleton.css";
body .container{padding:40px 0px 0px 0px;}body .container #menu{min-height:800px;}body .container #menu nav{position:fixed;width:160px;}body .container #menu nav h3{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;letter-spacing:-1px;font-weight:bold;}
body .container #menu nav #links{margin:0px 0px 0px 20px;font-weight:bold;}body .container #menu nav #links a{text-decoration:none;}
body .container .row{margin:20px 0px;}body .container .row .columns{margin:10px 0px;text-align:center;}
